# GRAPHCMS
GRAPHCMS_WEBHOOK_TOKEN=

# GOOGLE ANALYTICS
GOOGLE_SITE_VERIFICATION_CONTENT=
GOOGLE_ANALYTICS_TRACKING_ID=

# MAILCHIMP
MAILCHIMP_WEBHOOK_TOKEN=
MAILCHIMP_API_SERVER=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_API_KEY=

# GMAIL
GMAIL_SMTP_USER=
GMAIL_SMTP_PASSWORD=